/** Busy Bus CSS **/

/** Overall Body Edits **/

body {
	color: #545454;
	line-height: 1.5em;
	margin: 0px;
	max-width: 375px;
}

h1 {
	background-color: #007AFF;
	color: #FFF;
	font-size: 1.25em;
	text-align: center;
}

h3 {
	margin-left: 16px;
}

img {
	display: block;
	float: left;
	font-size: 0px;
	width: 375px;
}


/** Table  **/

table {
  	border-collapse: collapse;
  	text-align: left;
  	vertical-align: top;
  	width: 375px;
}

th {
	background-color: #E4E4E4;
	color: #3D3D3D;
	font-size: .8em;
	padding: .5px 16px;
} 

td {
  	border-bottom: 1px solid #cecfd5;
  	font-size: 1.05em;
  	padding: 6px 15px;
  	width: 37%;
}

tfoot tr:last-child td {
 	border-bottom: 0;
}

.number {
	color: #3D3D3D;
	width: 26%;
}


